/*START OF RESET*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-size: 16px;
    font-weight:normal;
}

/*END OF RESET*/


body {
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
   border: 10px solid rgb(255, 255, 255);  
}

nav {
    
    
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
footer {
    color: rgb(100, 56, 141);
    display: flex;
    margin-top: 16px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background-color: rgb(181, 159, 201);
    opacity: 75%;
   
}
.purple-box{
    background-color: rgb(181, 159, 201);
   opacity: 75%;
}
article {
    text-align: center;
    align-content: center;
    color: rgb(100, 56, 141);
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}
h2 {
    font-size: 40px;
  
}
h5 {
    
    margin-left: 10px;
    font-size: 60px;
    width: 20%;
    background-color: rgb(255, 255, 228);
    color: rgb(255, 255, 255);
}
p {
    padding-left: 20px;
    color: rgb(176, 94, 0);
    font-size: 28px;
}
section{
    border: 1px solid rgb(255, 255, 255);
   display: flex;
   background-color: rgb(233, 196, 9);
   width: 900px;
   margin: 10px;
   padding: 20px;
   align-items: flex-start;
}
.about-page{
    height: 500px;
    
}
.section-form{
    background-color: antiquewhite;
    padding: 20px 80px 20px 80px;
    width: 700px;
    margin: 0px auto;
}
.section-form input{
    border: 1px solid black;
    height: 24px;
    font-size: 16px;
    margin-bottom: 8px;
    padding: 4px;
    width: 100%;
}
.section-form textarea {
    border: 1px solid black;
    font-size: 16px;
    margin-bottom: 8px;
    padding: 4px;
    width: 100%;
}
.button {
    background-color: blueviolet;
    padding: 10px 14px 10px 140x;
    margin: 0px auto;
    width: fit-content;
    border-radius: 8px;
    color: antiquewhite;
}
.button:hover {
    opacity: 50%;
}
